@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

p   {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

body{
    height: 100vh;
    background: #000;
    color: #f6f6f6;
}
 
#titulo-em-destaque  {
    color: #22D4FD;
}

#flex-box {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#flex-box #texto {
    width: 615px;
}